import os
import traceback
import logging
from flask import Flask, request
from car.src.main.service.rest import Command, Query

logging.basicConfig(level=logging.DEBUG)

app = Flask(__name__)
Command.register(app)
Query.register(app)

@app.errorhandler(500)
def internal_error(exception):
    print "500 error caught"
    print traceback.format_exc()
    return traceback.format_exc()



print 'car-market-app: routes made'

print app.url_map

try:
    app.run(host=os.environ['APP_HOST'], port=os.environ['APP_PORT'])
except KeyboardInterrupt:
    func = request.environ.get('werkzeug.server.shutdown')
    func()
    raise

