<?xml version=”1.0” encoding=”UTF-8”?>

<hazelcast xsi:schemaLocation=”http://www.hazelcast.com/

        schema/config

        http://www.hazelcast.com/schema/config/hazelcastconfig-

        3.12.xsd”

        xmlns=”http://www.hazelcast.com/schema/config”

        xmlns:xsi=”http://www.w3.org/2001/XMLSchemainstance”>

<group>

<name>dev</name>

<password>dev-pass</password>

</group>

<network>

<port port-count=”200” auto-increment=”true”>5701</

        port>

<join>

<multicast enabled=”false”/>

<tcp-ip enabled=”true”>

<!-- Add the member IP addresses here -->

<member></member>

</tcp-ip>

        </join>

        </network>

<map name=”default*”>

<in-memory-format>NATIVE</in-memory-format>

<backup-count>0</backup-count>

<async-backup-count>1</async-backup-count>

        </map>

<native-memory allocator-type=”POOLED” enabled=”true”>

<size unit=”GIGABYTES” value=”30”/>

        </native-memory>

        </hazelcast>